 <!-- Contenido del Dashboard -->
  <div class="flex-grow container mx-auto py-8 px-6">
    <h2 class="text-2xl font-semibold text-white mb-6">Bienvenido, {{userName}}</h2>

    <!-- Opciones del Dashboard -->
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      <!-- Opción: Nueva Lectura -->
      <a
        routerLink="/carta"
        class="block p-6 bg-white/80 backdrop-blur-md rounded-lg shadow-lg hover:shadow-xl transition-shadow hover:bg-blue-100/90 text-center"
      >
        <div class="text-[#0085C8] text-4xl mb-4">
          <i class="fas fa-book"></i>
        </div>
        <h3 class="mt-2 text-lg font-medium text-gray-700">Nueva Lectura</h3>
        <p class="text-sm text-gray-500">Explora nuevas cartas para tu lectura</p>
      </a>

      <!-- Opción: Historial de Lectura -->
      <a
        routerLink="/carta/historial"
        class="block p-6 bg-white/80 backdrop-blur-md rounded-lg shadow-lg hover:shadow-xl transition-shadow hover:bg-blue-100/90 text-center"
      >
        <div class="text-[#0085C8] text-4xl mb-4">
          <i class="fas fa-history"></i>
        </div>
        <h3 class="mt-2 text-lg font-medium text-gray-700">Historial de Lectura</h3>
        <p class="text-sm text-gray-500">Revisa tus lecturas pasadas</p>
      </a>
    </div>
  </div>
